
* {
    font: awesome;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(90deg,blueviolet, rgb(138, 14, 255));
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input {
    font-size: 18px;
    left: calc(50%);
    top: calc(50%);
    padding-left: 4px;
    position: relative;
    width: 50px;
    height: 50px;
    transition: width 0.3s ease-in;
}
.btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0;
    left: calc(50%);
    top: calc(50%);
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in;
}
.btn:focus, .input:focus {
    outline: none;
}
.image {
    max-width: 42px;
    max-height: 42px;
    padding: 8px 8px;
    align-self: center;
}
.search.active .input {
    width: 200px;
    height: 50px;
    border: 0px;
    outline: none;
    transform: translateX(-120px);
}
.div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search.active .btn {
    transform: translateX(100px);
}